@model ProfileVM

<div class="text text-danger" asp-validation-summary="ModelOnly"></div>
<form class="form account-details-form" method="post" asp-controller="account" asp-action="update" enctype="multipart/form-data">
                                    <div class="form-group mb-3">
                                   @*<input asp-for="Picture">*@
                                    @*<input id="testaaaaaaa" asp-for="Picture" placeholder="Main Image...">*@
                                     @*<input asp-for="Picture"  class="filepond" data-max-file-size="3MB" data-max-files="3"/>*@
                                         <input asp-for="Picture" class="filepond">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="firstname">First name *</label>
                                                <input asp-for="Name"  placeholder="First name"
                                                    class="form-control form-control-md">
                                                <span class="text text-danger" asp-validation-for="Name"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="lastname">Last name *</label>
                                                <input asp-for="Surname" placeholder="Last name"
                                                    class="form-control form-control-md">
                                                <span class="text text-danger" asp-validation-for="Surname"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label for="display-name">Username *</label>
                                        <input asp-for="Username" placeholder="Username"
                                            class="form-control form-control-md mb-0">
                                            <span class="text text-danger" asp-validation-for="Username"></span>
                                    </div>

                                    <div class="form-group mb-6">
                                        <label>Email address *</label>
                                        <input asp-for="Email" 
                                            class="form-control form-control-md">
                                        <span class="text text-danger" asp-validation-for="Email"></span>

                                    </div>
                                  
                                    <h4 class="title title-password ls-25 font-weight-bold">Password change</h4>
                                    <div class="form-group">
                                        <label class="text-dark" for="cur-password">Current Password leave blank to leave unchanged</label>
                                        <input asp-for="CurrentPassword" class="form-control form-control-md"
                                           >
                                        <span class="text text-danger" asp-validation-for="CurrentPassword"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="text-dark" asp-for="Password">New Password leave blank to leave unchanged</label>
                                        <input type="password" class="form-control form-control-md"
                                            >
                                        <span class="text text-danger" asp-validation-for="Password"></span>
                                    </div>
                                    <div class="form-group mb-10">
                                        <label class="text-dark" for="conf-password">Confirm Password</label>
                                        <input asp-for="ConfirmPassword" class="form-control form-control-md"
                                            >
                                        <span class="text text-danger" asp-validation-for="ConfirmPassword"></span>
                                    </div>
                                    <button type="submit" class="btn btn-dark btn-rounded btn-sm mb-4">Save Changes</button>
</form>

@section Script {
    <partial name="_ValidationPartial" />
}