@model List<Product>

<div class="row cols-xl-5 cols-md-4 cols-sm-3 cols-2">
   @foreach (Product product in Model)
    {
         <div class="product-wrap">
                                <div class="product text-center">
                                    <figure class="product-media">
                                        <a href="product-default.html">
                                            <img src="~/assets/images/demos/demo1/products/@product.MainImage" alt="Product"
                                                width="300" height="338" />
                                            <img src="~/assets/images/demos/demo1/products/@product.HoverImage" alt="Product"
                                                width="300" height="338" />
                                        </a>
                                        <div class="product-action-vertical">
                                            <a asp-controller="cart" asp-action="addtocart" asp-route-id="@product.ID" class="btn-product-icon btn-cart w-icon-cart"
                                                title="Add to cart"></a>
                                            <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                                                title="Add to wishlist"></a>
                                            <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                                                title="Quickview"></a>
                                            <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                                                title="Add to Compare"></a>
                                        </div>
                                    </figure>
                                    <div class="product-details">
                                        <h4 class="product-name"><a href="product-default.html">@product.Name</a></h4>
                                        <div class="ratings-container">
                                            <div class="ratings-full">
                                                <span class="ratings" style="width: 60%;"></span>
                                                <span class="tooltiptext tooltip-top"></span>
                                            </div>
                                            <a href="product-default.html" class="rating-reviews">(1 Reviews)</a>
                                        </div>
                                        <div class="product-price">
                                            @if(product.DiscountedPrice > 0)
                                            {
                                            <ins class="new-price">$@product.DiscountedPrice</ins>
                                            <del class="old-price">$@product.Price</del>
                                            }
                                            else{
                                            <del class="old-price">$@product.Price</del>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
    }
</div>