@model ForgotPassword
@{
    ViewData["Title"] = "ForgotPassword";
}

<main id="main" class="main pt-lg">
  <div class="page-content">
    <div class="container">
      <div class="main-content-wrap">
        <div class="main-content d-flex justify-content-center text-center">
          <div class="woocommerce col-lg-4">
            <div class="woocommerce-notices-wrapper"></div>
            @if (Model?.EmailSent == true)
            {
                <div
                    style="padding-bottom: 23px;padding-top: 45px;"
                    class="alert alert-success" role="alert">
                    <p>If you are reghistered with us , <br />
                    We have sent an email on your registered email </p>
                </div>
            }
            else{
                 <form asp-action="ForgotPassword" class="woocommerce-ResetPassword lost_reset_password">
                    <div asp-validation-summary="ModelOnly" class="text text-danger"></div>
                  <p>Lost your password? Please enter your username or email address. You will receive a link to create a new password via email.</p>
                  <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
                    <label asp-for="Email" class="text-left">Username or email</label>
                    <input asp-for="Email" class="woocommerce-Input woocommerce-Input--text input-text"  id="user_login">
                    <span asp-validation-for="Email" class="text text-danger"></span>
                  </p>
                  <div class="clear"></div>
                  <p class="woocommerce-form-row form-row">
                    <input type="hidden" name="wc_reset_password" value="true">
                    <button type="submit" class="woocommerce-Button button">Reset password</button>
                  </p>
                  <input type="hidden" id="woocommerce-lost-password-nonce" name="woocommerce-lost-password-nonce" value="ff3148599f">
                  <input type="hidden" name="_wp_http_referer" value="/wordpress/wolmart/demo-1/my-account/lost-password/">
                </form>
            }                
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

