
@{
    ViewData["Title"] = "LostPassword";
}

<main id="main" class="main pt-lg">
<div class="page-content">
<div class="container"><div class="main-content-wrap"><div class="main-content"><div class="woocommerce"><div class="woocommerce-notices-wrapper"></div>
<form method="post" class="woocommerce-ResetPassword lost_reset_password">
<p>Lost your password? Please enter your username or email address. You will receive a link to create a new password via email.</p>
<p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
<label for="user_login">Username or email</label>
<input class="woocommerce-Input woocommerce-Input--text input-text" type="text" name="user_login" id="user_login" autocomplete="username">
</p>
<div class="clear"></div>
<div class="agr-recaptcha-wrapper"><div style="width: 304px; height: 78px;"><div><iframe title="reCAPTCHA" src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LdDB3AkAAAAAAUloiDdPu4o1lTg4g1MaSY81R0u&amp;co=aHR0cHM6Ly9kLXRoZW1lcy5jb206NDQz&amp;hl=en&amp;v=Xh5Zjh8Od10-SgxpI_tcSnHR&amp;size=normal&amp;cb=fgscv0c6ki67" width="304" height="78" role="presentation" name="a-k4q4b8ej51l2" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none; --darkreader-inline-border-top: #42474a; --darkreader-inline-border-right: #42474a; --darkreader-inline-border-bottom: #42474a; --darkreader-inline-border-left: #42474a;" data-darkreader-inline-border-top="" data-darkreader-inline-border-right="" data-darkreader-inline-border-bottom="" data-darkreader-inline-border-left=""></textarea></div><iframe style="display: none;"></iframe></div>
<p class="woocommerce-form-row form-row">
<input type="hidden" name="wc_reset_password" value="true">
<button type="submit" class="woocommerce-Button button" value="Reset password">Reset password</button>
</p>
<input type="hidden" id="woocommerce-lost-password-nonce" name="woocommerce-lost-password-nonce" value="ff3148599f"><input type="hidden" name="_wp_http_referer" value="/wordpress/wolmart/demo-1/my-account/lost-password/">
</form>
</div>
</div></div></div>
</div>
</main>

