@model Brand
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>


<div class="form-input">
  <form method="POST">
    <label asp-for="Image">Brand Image</label>
    <input asp-for="Image" placeholder="Image...">
    <span class="text-danger" asp-validation-for="Image"></span>

@*    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">*@

@*    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>*@
  
    <button type="submit" value="Submit">Create</button>
  </form>
</div>