
@model Brand

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>


<div class="form-input">
  <form method="POST" asp-controller="brand" asp-action="update" asp-area="admin">
    <label asp-for="Image">First Name</label>
    <input asp-for="Image" placeholder="Your name..">
    <span class="text-danger" asp-validation-for="Image"></span>

    <button type="submit">Update</button> 
  </form>
</div>

@section Script{
    <partial name="_ValidationPartial">
}