@model Product
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>


<div class="form-input">
  <form method="POST" asp-controller="product" asp-action="create" asp-area="admin">
    <label asp-for="Name">First Name</label>
    <input asp-for="Name" placeholder="Your name..">
    <span class="text-danger" asp-validation-for="Name"></span>

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>
  
    <input type="submit" value="Submit">
  </form>
</div>